<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>abc</servlet-name>
        <servlet-class>com.mohit.servlets.AddData</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>abc</servlet-name>
        <url-pattern>/adddata</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>pqr</servlet-name>
        <servlet-class>com.mohit.servlets.LoginAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pqr</servlet-name>
        <url-pattern>/loginadd</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>xyz</servlet-name>
        <servlet-class>com.mohit.servlets.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>xyz</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>www</servlet-name>
        <servlet-class>com.mohit.servlets.UpdateData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>www</servlet-name>
        <url-pattern>/updatedata</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>xxx</servlet-name>
        <servlet-class>com.mohit.servlets.DeleteData</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>xxx</servlet-name>
        <url-pattern>/deletedata</url-pattern>
    </servlet-mapping>
</web-app>
